body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.btn {
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 50%;
  background-color: rgb(147, 197, 255);
  padding: 0;
  border: none;
}

.btn-primary:hover {
  transform: translateY(-10px);
}

.btn-secondary {
  transition: transform 250ms;
}

.btn-secondary:hover {
  transform: translateY(-10px);
}

.btn-success {
  background: transparent;
}

.btn-success:hover .btn-contents {
  transform: translateY(-10px);
}

.btn-contents {
  display: grid;
  place-content: center;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(147, 197, 255);
  transition: transform 250ms;
}
